extends _shared

block body
	.reviews
		
		.search-filter
			form(action='/reviews')
				input(type='text', placeholder='search term', name='q', value=data.searchTerm)
				input(type='submit', value='Search')
		a.clear-filter(href='/reviews') Clear 

		if(!!data.customer.reviews)
			h2 Customer reviews
			for custReview in data.customer.reviews
				blockquote
					p= custReview.content
					footer= custReview.source
			if(data.customer.reviews.length==0 && data.searchFilter)
				h4 No customer reviews match your search

		if(!!data.corporate.reviews)
			h2 Corporate reviews
			for custReview in data.corporate.reviews
				blockquote
					p= custReview.content
					footer= custReview.source
			if(data.corporate.reviews.length==0 && data.searchFilter)
				h4 No customer reviews match your search		


